@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}
:root {
  --bg-green: rgb(0, 106, 80);
  --bg-light-green: rgb(198, 228, 214);
  --bg-primary: rgb(245, 245, 245);
}

.header {
  background: rgb(245, 245, 245);
  padding: 19.2px 128px;
  padding-bottom: 80px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-txt {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.nav-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 38;
  padding: 12px 24px 12px 24px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  color: rgb(0, 106, 80);
  font-family: Fira Sans;
  font-size: 14.4px;
  font-weight: 600;
  line-height: 17.6px;
  letter-spacing: 0%;
  text-align: left;
}
.nav-btn:hover {
  background: var(--bg-green);
  color: white;
  cursor: pointer;
}
.banner {
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 64px 80px;
  width: 1024px;
  height: 448px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 51.2px;
}
.banner-txt {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 18px;
  max-width: 497px;
  height: 260.8px;
}
.banner-txt-s {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 19.2px;
  font-weight: 500;
  line-height: 23.2px;
  letter-spacing: 0%;
  text-align: left;
}
.banner-txt-l {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 44.8px;
  font-weight: 700;
  line-height: 53.6px;
  letter-spacing: 0%;
  text-align: left;
}
.banner-btn {
  border-radius: 8px;
  background: rgb(0, 106, 80);
  padding: 17px 34px;
  border: none;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 14.4px;
  font-weight: 600;
  line-height: 17.6px;
  letter-spacing: 0%;
  text-align: left;
}
.banner-btn:hover {
  border: 1px solid var(--bg-green);
  background: var(--bg-light-green);
  cursor: pointer;
}
.main {
  background: var(--bg-primary);
}
.pillars {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 324px;
  gap: 25.6px;
  margin: 0 160px;
  padding-bottom: 80px;
}
.txt-tittle {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: 0%;
  text-align: left;
}
.card-content {
  display: flex;
  gap: 24px;
}
.pillars-card {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  width: 241px;
  height: 195px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 19px;
  gap: 16px;
}
.p-card-tittle {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  letter-spacing: 0%;
  text-align: left;
}
.txt-des {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.vision {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 780px;
  margin: 0 160px;
  gap: 32px;
  padding-bottom: 80px;
}
.vision-txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1180px;
}
.g {
  margin-bottom: 16px;
}
.vision-card-content {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 24px;
}
.vision-card {
  border-radius: 16px;
  width: 328.5px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 25.6px;
  gap: 16px;
}
.vision-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 38;
  padding: 11px 20px 11px 20px;
  box-sizing: border-box;
  border-radius: 8px;
  background: rgb(84, 144, 245);
  color: white;
  border: none;
  font-family: Fira Sans;
  font-size: 14.4px;
  font-weight: 600;
  line-height: 17.6px;
  letter-spacing: 0%;
  text-align: left;
}
.vision-btn:hover {
  border: 1px solid rgb(9, 161, 92);
  color: red;
  cursor: pointer;
  background: none;
}
.btn-bg-green {
  background: rgb(9, 161, 92);
}
.btn-bg-yellow {
  background: rgb(255, 194, 57);
}
.bg-card1 {
  background: rgba(84, 144, 245, 0.2);
}
.bg-card2 {
  background: rgb(198, 228, 214);
}
.bg-card3 {
  background: rgb(247, 235, 207);
}
.adviser {
  width: 1200px;
  height: 204px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 48px;
  gap: 12px;
}
.adviser-txt {
  width: 1100px;
  height: 200px;
  background-image: url("../images/quote-bg.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: top left;
  display: flex;
  flex-direction: column;
}
.adviser-txt-p {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  margin: 12px 0;
}
.adviser-txt-m {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin: 4px 0;
}
.adviser-txt-sm {
  color: rgba(14, 14, 14, 0.6);
  font-family: Fira Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin: 4px 0;
}
.opinion {
  height: 384px;
  margin: 0 160px;
  padding-bottom: 80px;
}
.opinion-table {
  border-radius: 16px;
  background: rgb(255, 255, 255);
  width: 1100px;
  height: 327px;
  padding: 48px;
}
tr {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(198, 228, 214);
}
.opinion-table td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.news {
  padding-top: 80px;
  margin: 0 160px;
  height: 1406px;
  padding-bottom: 80px;
}
.news-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.news-card-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.news-card {
  width: 1100px;
  height: 321px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  gap: 32px;
  padding: 48px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
}
.img {
  border-radius: 20px;
}
.news-card-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 12px;
}
.n-time {
  display: flex;
}
.news-txt-desc{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.news-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 38;
  padding: 12px 24px 12px 24px;
  box-sizing: border-box;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  border: none; 
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 14.4px;
  font-weight: 600;
  line-height: 17.6px;
  letter-spacing: 0%;
  text-align: left;
}
.news-btn:hover{
    border: 1px solid rgb(0, 106, 80);
    background: white;
    color: rgb(0, 106, 80);
    cursor: pointer;
}
.donate{
    display: flex;
    flex-direction: column;
    margin: 0 160px;
}
.donate .donate-txt{
    justify-content: center;
}